*
!*/

!upstream*
!libtinyexr-tests/openexr-images
!libtinyexr-tests/unit/regression
!*.exr

!*.h
!*.c
!*.hpp
!*.cpp
!*.cc
!*.inc
!*.in
!*.orig

!.build2/**
!buildfile
!bootstrap.build
!root.build
!export.build
!*manifest
!*testscript

!*.md
!LICENSE

!.git*

