*
!*/

!upstream*
!libtinyexr-tests/data/openexr-images
!libtinyexr-tests/data/regression
!asakusa.exr

!*.h
!*.c
!*.hpp
!*.cpp
!*.cc
!*.inc
!*.in
!*.orig

!.build2/**
!buildfile
!bootstrap.build
!root.build
!export.build
!*manifest
!*testscript

!*.md
!LICENSE

!.git*

